{% extends 'base.html' %}

{% block content %}

<h1> {{event.name}} </h1>
{{event.location}}


<p>
    {{event.start}} - {{event.end}}
</p>

<table>
    {% for graphic in event.lowerthirds.all %}

    <tr><td>
        <img src="{% url 'lowerthird' graphic.id %}" />
    </td></tr>

    {% endfor %}
</table>


<a href="{% url 'event_download' event.id %}" >
    <button>
        Download all (PNG) as zipfile
    </button>
</a>
<a href="{% url 'admin:graphics_event_change' event.id %}">
      <button class="no-print">rediger</button>
</a>

{% endblock %}
